# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=buddy_script

# MinIO (S3)
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=your_minio_secret_key
S3_BUCKET=social-app-bucket

# Client (Next.js)
# Use "http://server:5000" when running with Docker Compose
# Use "http://localhost:5000" for local development without Docker
NEXT_PUBLIC_API_URL=http://server:5000
NEXT_PUBLIC_APP_URL=http://localhost:3000
